.palleteContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.xsmall {
  height: 40px;
  gap: 8px;
}

.small {
  height: 57px;
  gap: 12px;
}

.medium {
  height: 60px;
  gap: 16px;
}

.large {
  height: 90px;
  gap: 16px;
}

@media (max-width: 744px) {
  .palleteContainer {
    grid-template-columns: repeat(5, 1fr);
  }
  .medium {
    height: 165px;
  }
  @media (max-width: 375px) {
  }
}
