.button {
  color: var(--color-gray200);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.lg {
  width: 200px;
  height: 60px;
}
.md {
  width: 200px;
  height: 50px;
}
.sm {
  width: 120px;
  height: 36px;
}
.xs {
  width: 91px;
  height: 29px;
}
.widthFull{
  width: 100%;
}
.primary {
  background: var(--color-brand500);
}
.primary:hover {
  background: var(--color-brand600);
}
.secondary {
  background: var(--color-gray900);
}
.secondary:hover {
  background: var(--color-black600);
}
.delete {
  background: var(--color-red500);
}
.disabled {
  cursor: not-allowed;
}
.primary.disabled {
  background: var(--color-brand800);
  color: var(--color-brand950);
}
.secondary.disabled {
  background: var(--color-gray900);
  color: var(--color-gray500);
}
