.profileSection{
  display: flex;
  align-items: center;
  gap: 6px;
}

.profileSection .profile {
  border-radius: 50%;
}

.profileSection .profile span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
}
.profileSection .showName{
  color: var(--color-gray100);
}
.alignCenter {
  justify-content: center;
}

.alignStart {
  justify-content: flex-start;
}

.naviType {
  border: 2px solid #1b1a1f;
  margin-left: -12px;
}

.xsmall {
  width: 20px;
  height: 20px;
  font-size: 8px;
}

.small {
  width: 24px;
  height: 24px;
  font-size: 10px;
}

.medium {
  width: 26px;
  height: 26px;
  font-size: 12px;
}

.large {
  width: 30px;
  height: 30px;
  font-size: 12px;
}

.xlarge {
  width: 34px;
  height: 34px;
  font-size: 13px;
}
