* {
  /* Grayscale */

  --color-black: #000000;
  --color-gray800: #171717;
  --color-gray700: #333236;
  --color-gray600: #4b4b4b;
  --color-gray500: #787486;
  --color-gray400: #9fa6b2;
  --color-gray300: #d9d9d9;
  --color-gray200: #eeeeee;
  --color-gray100: #fafafa;
  --color-white: #ffffff;

  /* Semantic */

  --color-violet: #5534da;
  --color-violet80: #f1effd;
  --color-red: #d6173a;
  --color-green: #7ac555;
  --color-purple: #760dde;
  --color-orange: #ffa500;
  --color-blue: #76a5ea;
  --color-pink: #e876ea;
}
