.sideBar {
  padding-top: 10px;
  background: var(--color-black900);
  width: 340px;
  display: flex;
  flex-shrink: 0;
  min-height: 100vh;
  flex-direction: column;
}
.button {
  background: none;
  border: none;
  cursor: pointer;
}
.logo {
  width: 100%;
  padding: 0 16px;
  text-align: left;
}
.logo > img {
  width: 156px;
  height: 40px;
}
.main {
  padding: 0 24px;
  min-height: 720px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main .mainDashboard {
  flex: 1;
}
.dashboardAdd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 14px;
}
.dashboardAdd > span {
  color: var(--color-gray400);
}
.dashboardAdd > img {
  filter: invert(73%) sepia(15%) saturate(271%) hue-rotate(212deg)
    brightness(88%) contrast(81%);
}
.homeButton {
  width: 100%;
  height: 58px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.homeButton > span {
  color: var(--color-gray200);
}
.homeButton > img {
  filter: invert(90%) sepia(4%) saturate(77%) hue-rotate(202deg)
    brightness(107%) contrast(89%);
}
.dashboardButton {
  width: 100%;
  height: 58px;
  padding: 11px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.dashboardButton:hover {
  background: var(--color-black700);
  border-radius: 10px;
}
.dashboardButton > svg {
  padding: 0;
}
.dashboardButton > .crownIcon {
  filter: invert(42%) sepia(100%) saturate(5942%) hue-rotate(110deg)
    brightness(95%) contrast(91%);
}
.dashboardButton > span {
  flex: 1;
  text-align: left;
  color: var(--color-gray100);
}
.dashboardButton.active {
  background: #2c2b30; /* 컬러 파렛트에 없어서 고정으로 넣었습니다. */
  border-radius: 12px;
}
.footer {
  border-top: 2px solid #2c2b30;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background: var(--color-black900);
}
.footer .userBox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer p {
  color: var(--color-gray100);
}
.footer > button {
  filter: invert(68%) sepia(3%) saturate(1208%) hue-rotate(212deg)
    brightness(92%) contrast(103%);
}
.dashboardPagenation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}
.dashboardPagenation > button {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 77px;
  height: 40px;
}
.dashboardPagenation > button.disabled {
  cursor: not-allowed;
}
.dashboardPagenation > button.disabled > span {
  color: var(--color-gray500);
}
.dashboardPagenation > button.disabled > img {
  filter: invert(48%) sepia(9%) saturate(563%) hue-rotate(213deg)
    brightness(94%) contrast(89%);
}
.dashboardPagenation > button > span {
  color: var(--color-gray100);
}
.dashboardPagenation > button > img {
  filter: invert(90%) sepia(3%) saturate(108%) hue-rotate(218deg)
    brightness(108%) contrast(98%);
}
/* Tablet */
@media (max-width: 745px) {
  .sideBar {
    width: 220px;
  }
  .logo {
    padding: 0 10px;
  }
  .logo > img {
    width: 130px;
    height: 34px;
  }
  .main {
    padding: 0 10px;
  }
  .dashboardButton {
    width: 100%;
    height: 50px;
    padding: 15px 15px 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  .dashboardButton > .crownIcon {
    width: 16px;
    height: 16px;
  }
  .footer .userProfile {
    width: 26px;
    height: 26px;
  }
}
