.mainWrap{
  background: #161519;
  position: relative;
}
.mainWrap::after{
  content: "";
  width: 298px;
  height: 298px;
  background: var(--color-brand500);
  opacity: 0.6;
  filter: blur(1000);
  position: absolute;
  top: 820px;
  left: 106px;
  border-radius: 100%;
}

.mainWrap::before{
  content: "";
  width: 344px;
  height: 344px;
  background: var(--color-brand500);
  opacity: 0.6;
  filter: blur(1000);
  position: absolute;
  top: 302px;
  left: 1244px;
  border-radius: 100%;
}

.header {
  padding: 24px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-black700);
}
.header button{
  background: none;
  border: none;
  cursor: pointer;
}
.header .headerButtonBox{
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .headerButtonBox > button{
  padding: 10px 12px;
  color: var(--color-gray300);
}
.mainSectionTopWrap{
  padding: 159px 0 159px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  z-index: 10;
}
.mainSectionTopWrap > .mainSectionTopMain{
  width: 510px;
  flex-shrink: 0;
}
.mainSectionTopMain > h1{
  padding-bottom: 10px;
  font-size: 60px;
  color: var(--color-gray100);
  line-height: 100%;
}
.mainSectionTopMain > span{
  display: block;
  font-size: 84px;
  color: var(--color-brand400);
  padding-bottom: 50px;
  line-height: 100%;
}
.mainSectionTopWrap .buttonBox{
  display: flex;
  align-items: center;
  gap: 20px;
}