.myDashboardMainWrap {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
}
.myDashboardMain {
  padding: 0 50px;
}
.myDashboardMain h1 {
  color: var(--color-gray100);
  padding: 24px 0 14px;
}
.myDashboardMain .dashboardSection {
  padding-bottom: 50px;
}
.myDashboardMain .dashboardSection h2 {
  color: var(--color-gray100);
  padding: 8px 0;
}
.myDashboardMain .dashboardSection .emptyDashboard {
  background: var(--color-black800);
  border: 1px solid var(--color-gray700);
  border-radius: 30px;
  text-align: center;
  min-width: 332px;
}
.myDashboardMain .dashboardSection .emptyDashboard > p {
  padding-top: 26px;
  color: var(--color-gray400);
}
.myDashboardMain .dashboardSection .emptyDashboard button {
  background: var(--color-gray900);
  border: none;
  border-radius: 100px;
  width: 107px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 4px;
  color: var(--color-gray100);
  cursor: pointer;
}
.myDashboardMain .dashboardSection .emptyDashboard button > img {
  filter: invert(95%) sepia(32%) saturate(127%) hue-rotate(182deg)
    brightness(87%) contrast(95%);
}
.myDashboardMain .dashboardSection:nth-of-type(1) .emptyDashboard {
  padding: 40px 0;
}
.myDashboardMain .dashboardSection:nth-of-type(1) .emptyDashboard > p {
  padding-bottom: 20px;
}
.myDashboardMain .dashboardSection:nth-of-type(2) .emptyDashboard {
  padding: 70px 0;
}

/* 데이터 있을 때 */
.myDashboardMain .dashboardSection .myDashboard .myDashboardBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.myDashboardMain .dashboardSection .myDashboard .myDashboardBox button {
  background: none;
  border: none;
  color: var(--color-gray100);
  width: 100%;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px 0 20px;
  cursor: pointer;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button:nth-of-type(1) {
  padding: 0;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button.myDashboardAddButton {
  border: 2px dashed var(--color-gray700);
  background: var(--color-black800);
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button.myDashboardAddButton
  > img {
  filter: invert(29%) sepia(7%) saturate(819%) hue-rotate(214deg)
    brightness(95%) contrast(85%);
  margin-left: 10px;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button.myDashboardButton {
  border: 1px solid var(--color-black500);
  background: var(--color-black700);
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button.myDashboardButton
  > span {
  flex: 1;
  text-align: left;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardBox
  button.myDashboardButton
  > img {
  filter: invert(64%) sepia(22%) saturate(178%) hue-rotate(212deg)
    brightness(97%) contrast(88%);
}
.myDashboardMain .dashboardSection .myDashboard .myDashboardPagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 0;
  gap: 20px;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardPagination
  .myDashboardPaginationCount {
  color: var(--color-gray100);
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardPagination
  .myDashboardPaginationButton {
  display: flex;
  align-items: center;
  gap: 20px;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardPagination
  .myDashboardPaginationButton
  button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardPagination
  .myDashboardPaginationButton
  button
  > img {
  filter: invert(50%) sepia(3%) saturate(1662%) hue-rotate(213deg)
    brightness(90%) contrast(82%);
}
.myDashboardMain
  .dashboardSection
  .myDashboard
  .myDashboardPagination
  .myDashboardPaginationButton
  button.active
  > img {
  filter: invert(100%) sepia(0%) saturate(6118%) hue-rotate(311deg)
    brightness(92%) contrast(104%);
}
.myDashboardMain .dashboardSection .invitationsDashboardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  border-bottom: 1px solid var(--color-black600);
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionTop
  > div {
  width: 424px;
  display: flex;
  align-items: center;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionTop
  p {
  color: var(--color-gray400);
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionTop
  > div
  p {
  width: 50%;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionTop
  > div
  p:nth-of-type(2) {
  padding-left: 100px;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  border-bottom: 1px solid var(--color-black600);
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain
  > p {
  color: var(--color-gray100);
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain
  > div {
  display: flex;
  align-items: center;
  width: 424px;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain
  .invitationsDashboardSectionMainProfile
  > .userBox {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-gray100);
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain
  > div
  > div {
  width: 50%;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .invitationsDashboardSectionMain
  > div
  .invitationsDashboardSectionMainButtonBox {
  display: flex;
  padding-left: 100px;
  gap: 12px;
}
.myDashboardMain
  .dashboardSection
  .invitationsDashboardSection
  .infinityTrigger {
  height: "20px";
  margin: "20px 0";
}

/* Tablet */
@media (max-width: 774px) {
  .myDashboardMain {
    padding: 0 30px;
  }
  .myDashboardMain .dashboardSection h2 {
    margin-bottom: 10px;
  }
  .myDashboardMain .dashboardSection:nth-of-type(1) .emptyDashboard > img {
    width: 65px;
    height: 55px;
  }
  .myDashboardMain .dashboardSection:nth-of-type(2) .emptyDashboard > img {
    width: 65px;
    height: 60px;
  }
  .myDashboardMain .dashboardSection {
    padding-bottom: 20px;
  }
  .myDashboardMain .dashboardSection .myDashboard .myDashboardBox button {
    padding: 0 20px;
  }
  .myDashboardMain .dashboardSection .invitationsDashboardTop {
    flex-direction: column;
    align-items: start;
  }
  .myDashboardMain .dashboardSection .invitationsDashboardTop > div {
    width: 100%;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > div {
    width: 237px;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > div
    .invitationsDashboardSectionMainButtonBox {
    padding: 0;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > p {
    width: 180px;
    word-wrap: break-word;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionTop
    > div {
    width: 237px;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionTop
    > div
    p:nth-of-type(2) {
    padding-left: 0px;
  }
}

/* Mobile */
@media (max-width: 487px) {
  .myDashboardMain {
    padding: 0 20px;
  }
  .myDashboardMain .dashboardSection:nth-of-type(1) .emptyDashboard > img {
    width: 60px;
    height: 60px;
  }
  .myDashboardMain .dashboardSection:nth-of-type(2) .emptyDashboard > img {
    width: 60px;
    height: 60px;
  }
  .myDashboardMain .dashboardSection .myDashboard .myDashboardBox {
    flex-wrap: wrap;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionTop {
    display: none;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain {
    flex-direction: column;
    align-items: start;
    padding: 14px 10px;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > p {
    padding-bottom: 4px;
    width: 100%;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > div {
    width: 315px;
    justify-content: space-between;
  }
  .myDashboardMain
    .dashboardSection
    .invitationsDashboardSection
    .invitationsDashboardSectionMain
    > div
    .invitationsDashboardSectionMainButtonBox {
    width: 115px;
    padding: 0;
  }
}
