.xl3Bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.xl3SemiBold {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}

.xl2Bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.xl2SemiBold {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.xl2Medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.xlBold {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.xlSemiBold {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.xlMedium {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.lg2Bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.lg2SemiBold {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.lg2Medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.lgBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.lgSemiBold {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.lgMedium {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.lgMedium160 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.mdBold {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.mdSemiBold {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.mdMedium {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.mdMedium150 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.smSemiBold {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.smMedium {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.xsSemiBold {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.xsMedium {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
