.topContainer {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.topContainer .formContents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 840px;
}

.topContainer .formContents .inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topContainer .formContents .inputWrapper span {
  color: var(--color-gray300);
}

.topContainer .buttonWrapper {
  text-align: end;
  margin-top: 20px;
}

.topContainer .buttonWrapper button {
  height: 50px;
}

.topContainer .title {
  color: var(--color-gray100);
}

.topContainer .textInput {
  width: 100%;
}

.topContainer .backButton {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.topContainer .backButton span {
  color: var(--color-gray300);
  cursor: pointer;
}

.topContainer .backButton .xIcon {
  width: 40px;
  height: 40px;
  color: transparent;
}

.topContainer .backButton:hover .xIcon {
  color: var(--color-black500);
}
