.sidebar {
  width: 32vw;
  max-width: 540px;
  background-color: var(--color-black900);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  padding-right: 24px;
  z-index: 100;
  height: inherit;
}

.contents {
  flex: 1;
  margin-left: 540px;
  display: flex;
  direction: row;
}

.sidebar .sidebarMenu {
  width: 80%;
  max-width: 276px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}

.sidebar .sidebarMenu button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  height: 58px;
  text-align: left;
  padding: 18.5px 14px 18.5px 14px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar .sidebarMenu .betweenLine {
  background-color: var(--color-modalBackground);
  height: 1px;
  max-width: 260px;
  width: 100%;
}

.sidebar .sidebarMenu button:last-child {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebarMenu button:hover {
  background-color: var(--color-black800);
}

.sidebar .sidebarMenu button:active {
  background-color: var(--color-black700);
}

.sidebar .sidebarMenu button.activeButton {
  background-color: #2c2b30;
}

.sidebar .sidebarMenu .trashButton {
  color: var(--color-rose);
}

.contents .backButton {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.contents .backButton span {
  color: var(--color-gray300);
  cursor: pointer;
}

.contents .backButton .xIcon {
  width: 40px;
  height: 40px;
  color: transparent;
}

.contents .backButton:hover .xIcon {
  color: var(--color-black500);
}
