.topContainer {
  padding: 30px 50px;
}

.topContainer .contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 840px;
}

.topContainer .contents .title,
.topContainer .contents span {
  color: var(--color-gray100);
}

.topContainer .contents .usersContainer {
  padding-top: 10px;
  padding-bottom: 30px;
}

.topContainer .contents .list .usersContainer {
  display: flex;
  flex-direction: column;
}
