.memberListTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.memberListTitle .countAndButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.memberListTitle .countAndButtons .arrowButtonWrapper {
  width: 70px;
}

.memberListTitle .countAndButtons .arrowButtonWrapper button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.memberListTitle .countAndButtons .arrowButtonWrapper button:hover {
  background-color: var(--color-black800);
}

.memberListTitle .icon {
  width: 20px;
  height: 20px;
}

.memberListTitle .titleAndButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.memberListTitle .titleAndButton button span {
  display: flex;
  align-items: flex-end;
}

.pageCountWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
