.cardContainer {
  background-color: var(--color-black700);
  border: 1px solid var(--color-gray800);
  border-radius: 20px;
  padding: 20px;
  color: var(--color-gray100);
  width: 100%;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardImage {
  position: relative;
  width: 100%;
  max-height: 178.45px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardImage img {
  max-height: 178.45px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 14px;
}

.title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  display: inline-flex;
  gap: 8px;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  max-width: 100%;
}

.badge::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(to left, var(--color-black700) 10%, transparent);
  pointer-events: none;
}

.assignee {
  display: flex;
  gap: 4px;
  align-items: center;
}
