.dialog {
  width: calc(458px - 60px);
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title,
.message {
  color: white;
}

@media (max-width: 375px) {
  .dialog {
    padding-top: 30px;
    gap: 20px;
  }
}
