.main {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.signupCard {
  display: flex;
  flex-direction: column;
  width: 520px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.signupForm {
  width: 100%;
  color: var(--color-gray300);
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.signupActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--color-gray400);
}

.loginLink {
  color: var(--color-gray300);
  text-decoration: none;
}

@media (max-width: 744px) {
  .signupCard {
    max-width: 520px;
    width: 80vw;
  }
}

@media (max-width: 375px) {
  .signupCard {
    max-width: 375px;
    width: 90vw;
  }

  .logoWrapper img {
    max-width: 300px;
    width: 90vw;
  }
}
